@import "tailwindcss";

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@theme {
  --color-secondary-500: #323639;
  --color-background-500: #181a1b;
}

@layer components {
  .blue-link {
    color: var(--color-blue-400);
  }
  
  .blue-link:hover {
    text-decoration: underline;
  }

  input.editable-input select.editable-input {
    border-radius: var(--radius-md);
    border-color: var(--color-white);
    padding: calc(var(--spacing) * 1);
  }

  input.editable-input:read-write select.editable-input:read-write {
    border-width: 1px;
  }
}
